<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link">catalog</a></li>
        <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link">orders</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
<h2 class="mb-4">
Order History
</h2>
<div class="row justify-content-center">
{% for order in orders %}
<div class="col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
<div class="card h-100 d-flex flex-column justify-content-between" style="max-width: 340px">
<div class="card-body text-center">
<h5 class="card-title text-wrap">
Order #{{order.id}}
</h5>
<a href="{% url 'product_detail' product_id=order.product.id %}">
<p class="card-text fs-6">
<strong>
Product:
</strong>
{{order.product.name}}
</p>
</a>
<p class="card-text fs-6">
<strong>
Delivery Address:
</strong>
{{order.delivery_address|truncatewords:6}}
</p>
<p class="card-text fs-6">
<strong>
Order Date
</strong>
{{order.created_at}}
</p>
</div>
</div>
</div>
{% endfor %}
</div>
</body>
</html>