<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
   <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link">signout</a></li>
        <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link">catalog</a></li>
        <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link">orders</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link">signin</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">signup</a></li>
        {% endif %}
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
    <div class="card" style="width: 36rem;">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">
            {{product.name}}
        </h5>
        <p class="card-text">
            {{product.desc}}
        </p>
        <span class="fs-2 fw-bold">
        {{product.price}} $
        </span>
        <a href="{% url 'order_create' product_id=product.id %}" class="btn btn-primary">
            Buy
        </a>
        </div>
    </div>
</body>
</html>