<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
</head>
<body>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link">signout</a></li>
        <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link">catalog</a></li>
        <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link">orders</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link">signin</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">signup</a></li>
        {% endif %}
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
    {% if error %}
        <p class="text-center text-danger fw bold">
         {{error}}
        </p>
    {% endif %}
    <form method="post">
{% csrf_token %}
<input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>
<button type="submit">
Register
</button>
</form>
</body>
</html>